# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\betterbear\vhexLab\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
